<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-card>
        <!-- Contenido de la primera tarjeta -->
        <ion-card-header>
          <ion-card-title>Tarjeta 1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Contenido de la tarjeta 1.
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <!-- Contenido de la segunda tarjeta -->
        <ion-card-header>
          <ion-card-title>Tarjeta 2</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Contenido de la tarjeta 2.
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <!-- Contenido de la tercera tarjeta -->
        <ion-card-header>
          <ion-card-title>Tarjeta 3</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Contenido de la tarjeta 3.
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
